<%= render 'layouts/nav' %>

<div class="container">
    <!-- BEGIN USER PACK -->
    <%= content_tag :div, id:"proxyLogs" do %>
    <% end %>
    <%= javascript_pack_tag 'proxy_logs' %>
    <!-- END USER PACK -->
</div>

