@import '~bootstrap/scss/bootstrap';

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* Corner Ribbons */
.corner-ribbon{
    width: 200px;
    background: #e56a19;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
/* Custom styles */

.corner-ribbon.sticky{
position: fixed;
}

.corner-ribbon.shadow{
box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */


.corner-ribbon.top-right{
top: 25px;
right: -50px;
left: auto;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}


/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 body,
 html {
     width: 100%;
     height: 100%;
 }
 
 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
     font-weight: 700;
 }
 
 .lead {
     font-size: 18px;
     font-weight: 400;
 }
 
 .intro-header {
     padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
     padding-bottom: 50px;
     text-align: center;
     color: #f8f8f8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23cc7e00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23c97110' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23c5641a' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23c05822' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23b94d28' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23b1422d' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23a83731' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%239e2e34' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23932536' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23871e38' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%237a1738' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%236e1238' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23600e37' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23530b35' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23460932' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2339072e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232c0529' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
 }

 .masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    color: rgba(232, 230, 227, 0.5);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23cc7e00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23c97110' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23c5641a' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23c05822' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23b94d28' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23b1422d' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23a83731' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%239e2e34' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23932536' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23871e38' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%237a1738' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%236e1238' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23600e37' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23530b35' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23460932' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2339072e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232c0529' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
 }
 
 .intro-message {
     position: relative;
     padding-top: 20%;
     padding-bottom: 20%;
 }
 
 .intro-message > h1 {
     margin: 0;
     text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
     font-size: 5em;
 }
 
 .intro-divider {
     width: 400px;
     border-top: 1px solid #f8f8f8;
     border-bottom: 1px solid rgba(0,0,0,0.2);
 }
 
 .intro-message > h3 {
     text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
 }
 
 @media(max-width:767px) {
     .intro-message {
         padding-bottom: 15%;
     }
 
     .intro-message > h1 {
         font-size: 3em;
     }
 
     ul.intro-social-buttons > li {
         display: block;
         margin-bottom: 20px;
         padding: 0;
     }
 
     ul.intro-social-buttons > li:last-child {
         margin-bottom: 0;
     }
 
     .intro-divider {
         width: 100%;
     }
 }
 
 .network-name {
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 400;
     letter-spacing: 2px;
 }
 
 .content-section-a {
     padding: 50px 0;
     background-color: #f8f8f8;
 }
 
 .content-section-b {
     padding: 50px 0;
     border-top: 1px solid #e7e7e7;
     border-bottom: 1px solid #e7e7e7;
 }
 
 .section-heading {
     margin-bottom: 30px;
 }
 
 .section-heading-spacer {
     float: left;
     width: 200px;
     border-top: 3px solid #e7e7e7;
 }
 
 .banner {
     padding: 100px 0;
     color: #f8f8f8;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23cc7e00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23c97110' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23c5641a' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23c05822' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23b94d28' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23b1422d' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23a83731' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%239e2e34' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23932536' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23871e38' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%237a1738' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%236e1238' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23600e37' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23530b35' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23460932' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2339072e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232c0529' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
     background-attachment: fixed;
     background-size: cover;
 }
 
 .banner h2 {
     margin: 0;
     text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
     font-size: 3em;
 }
 
 .banner ul {
     margin-bottom: 0;
 }
 
 .banner-social-buttons {
     float: right;
     margin-top: 0;
 }
 
 @media(max-width:1199px) {
     ul.banner-social-buttons {
         float: left;
         margin-top: 15px;
     }
 }
 
 @media(max-width:767px) {
     .banner h2 {
         margin: 0;
         text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
         font-size: 3em;
     }
 
     ul.banner-social-buttons > li {
         display: block;
         margin-bottom: 20px;
         padding: 0;
     }
 
     ul.banner-social-buttons > li:last-child {
         margin-bottom: 0;
     }
 }
 
 footer {
     padding: 50px 0;
     background-color: #f8f8f8;
 }
 
 p.copyright {
     margin: 15px 0 0;
 }