<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" style="color: rgba(232, 230, 227, 0.5); background: rgba(0,0,0, .55)">
    <div class="container">
      <%= link_to root_path, class:"navbar-brand" do %>
        <img src="<%= asset_pack_path("media/images/LogoWithNameTransparentDark.png") %>" height="35" />
      <% end %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <% if admin_signed_in? %>
              <%= link_to "Manage Instance", customize_path, class:"nav-link js-scroll-trigger", style:"color: rgba(232, 230, 227, 0.5);" %>
            <% else %>
                <%= link_to "Manage Instance", new_admin_session_path, class:"nav-link js-scroll-trigger", style:"color: rgba(232, 230, 227, 0.5);" %>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://compositionalenterprises.ourcompose.com/bookstack/books">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://ourcompose.com">Billing & Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://ourcomposecast.com">OurComposeCast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://reddit.com/r/ourcompose">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://gitlab.com/compositionalenterprises">Gitlab</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://compositionalenterprises.ourcompose.com/kanboard/public/board/245d06ce519a4deba6131ea58a65afa9efc0e6de584e04b08a81c4115322">Feature Roadmap</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
