<%= render 'staticpages/nav' %>

<div class="container" style="padding-top:6%;">
    <%= link_to "Forgot your password?", new_admin_password_path, class:"nav-link" %>
    <%= link_to "Didn't receive confirmation instructions?", new_admin_confirmation_path, class:"nav-link" %>
</div>

