<%= render 'staticpages/nav' %>

<header class="masthead" style="height: 100%;">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center" style="padding-bottom:20%;">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold"><%= Customization.first.tagline %></h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <% Service.all.each do |f| %>
            <% if f.url[0..7] == "https://" %>
              <%= link_to f.name.capitalize, f.url, class:"btn btn-primary btn-xl js-scroll-trigger" %>
            <% else %>
              <%= link_to f.name.capitalize, "https://" + f.url, class:"btn btn-primary btn-xl js-scroll-trigger" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</header>
