<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
    <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to root_url, class:"navbar-brand col-sm-3 col-md-2 mr-0" do %>
            <%= Customization.first.org_name %>
        <% end %>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" style="margin-right:6%">
            <li class="nav-item dropdown hidden-md-down">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://compositionalenterprises.ourcompose.com/bookstack">Documentation and Guides</a>
                    <a class="dropdown-item" href="https://ourcompose.com">Billing & Support</a>
                    <a class="dropdown-item" href="https://ourcomposecast.com">OurComposeCast</a>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Edit Account", edit_admin_registration_path, class:"dropdown-item" %>
                    <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class:"dropdown-item" %>
                </div>
            </li>
        </ul>
    </div>
    </div>
</nav>

<div class="container-fluid">
    <!-- BEGIN USER PACK -->
    <%= content_tag :div, id:"dashboard", data: {services: Service.all, healthCheckStatus: HealthCheck.last}.to_json do %>
    <% end %>
    <%= javascript_pack_tag 'dashboard' %>
    <!-- END USER PACK -->
</div>