<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" style="color: rgba(232, 230, 227, 0.5); background: rgba(0,0,0, .55)">
    <div class="container">
      <%= link_to root_path, class:"navbar-brand" do %>
        <img src="<%= asset_pack_path("media/images/LogoWithNameTransparentDark.png") %>" height="35" />
      <% end %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <% if admin_signed_in? %>
              <%= link_to "Manage Instance", customize_path, class:"nav-link js-scroll-trigger", style:"color: rgba(232, 230, 227, 0.5);" %>
            <% else %>
                <%= link_to "Manage Instance", new_admin_session_path, class:"nav-link js-scroll-trigger", style:"color: rgba(232, 230, 227, 0.5);" %>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://compositionalenterprises.ourcompose.com/bookstack/books">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://ourcompose.com">Billing & Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://ourcomposecast.com">OurComposeCast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://reddit.com/r/ourcompose">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://gitlab.com/compositionalenterprises">Gitlab</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" style="color: rgba(232, 230, 227, 0.5);" href="https://compositionalenterprises.ourcompose.com/kanboard/public/board/245d06ce519a4deba6131ea58a65afa9efc0e6de584e04b08a81c4115322">Feature Roadmap</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<header class="masthead" style="height: 100%;">
    <div class="container h-100">
      <div class="container col-sm-4">
        <h2 class="mt-2">Log in</h2>
        <% if request.subdomain == 'demo' %>
          <h5>Demo User:</h5>
          <h6>demo@demo.ourcompose.com</h6>
          <h5>Demo Password:</h5>
          <h6>testpassword</h6>
        <% end %>
        <hr/>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group row">
            <%= f.label :email, class:"col-sm-3 col-form-label" %>
            <div class="col-md-9">
              <%= f.email_field :email, autofocus: true, autocomplete: "", class:"form-control", style:"background: rgba(0,0,0,0.5); color: white; border: 0" %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :password, class:"col-sm-3 col-form-label" %>
            <div class="col-md-9">
              <%= f.password_field :password, autocomplete: "", class:"form-control", style:"background: rgba(0,0,0,0.5); color: white; border: 0" %>
            </div>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group row">
              <div class="col-sm-12">
                <div class="form-check">
                  <%= f.check_box :remember_me, class:"form-check-input" %>
                  <label class="form-check-label" for="gridCheck1">
                    Remember Me
                  </label>
                </div>
              </div>
            </div>
          <% end -%>

          <div class="actions">
            <div class="container">
            <div class="row">
              <%= f.submit "Log in", class:"btn btn-primary mt-1 mr-1" %>
              <%= link_to "Help", help_path, class:"btn btn-primary mt-1" %>
            </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
</header>
