<%= render 'layouts/nav' %>

<div class="container">
    <!-- BEGIN USER PACK -->
    <%= content_tag :div, id:"env" do %>
    <% end %>
    <%= javascript_pack_tag 'env' %>
    <!-- END USER PACK -->
</div>