<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
    <%= link_to root_path, class:"navbar-brand" do %>
        <img src="<%= asset_pack_path("media/images/LogoWithNameTransparentDark.png") %>" height="35" />
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <%- if controller_name != 'sessions' && current_user == nil %>
                <li class="nav-item">
                <%= link_to "Log in", new_session_path(resource_name), class:"nav-link" %>
                </li>
            <% end -%>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <li class="nav-item">
                <%= link_to "Forgot your password?", new_password_path(resource_name), class:"nav-link" %>
                </li>
            <% end -%>
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                <li class="nav-item">
                    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class:"nav-link" %>
                </li>
            <% end -%>
        </ul>
    </div>
    </div>
</nav>