<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
    <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to root_url, class:"navbar-brand" do %>
            Dashboard
        <% end %>
        </li>
        <li class="nav-item">
        <%= link_to customize_path, class:"nav-link" do %>
            Customize
        <% end %>
        </li>
        <li class="nav-item">
        <%= link_to env_path, class:"nav-link" do %>
            Environment Variables
        <% end %>
        </li>
        <li class="nav-item">
        <%= link_to logs_path, class:"nav-link" do %>
            Proxy Logs
        <% end %>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown hidden-md-down">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://compositionalenterprises.ourcompose.com/bookstack">Documentation and Guides</a>
                    <a class="dropdown-item" href="https://ourcompose.com">Billing & Support</a>
                    <a class="dropdown-item" href="https://ourcomposecast.com">OurComposeCast</a>
                    <a class="dropdown-item" href="https://reddit.com/r/ourcompose">Community</a>
                    <a class="dropdown-item" href="https://gitlab.com/compositionalenterprises">Gitlab</a>
                    <a class="dropdown-item" href="https://compositionalenterprises.ourcompose.com/kanboard/public/board/245d06ce519a4deba6131ea58a65afa9efc0e6de584e04b08a81c4115322">Feature Roadmap</a>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Edit Account", edit_admin_registration_path, class:"dropdown-item" %>
                    <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class:"dropdown-item" %>
                </div>
            </li>
        </ul>
    </div>
    </div>
</nav>
