<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'bundle', 'data-turbolinks-track': 'load' %>
    <%= favicon_link_tag asset_pack_path("media/images/logo@16px.png") %>
  </head>

  <body>
    <%= yield %>
    <div class="corner-ribbon top-right sticky" style="background: #e56a19; z-index:1110">Alpha 1.0</div>
  </body>
</html>
